@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body {
    font-family:"Open Sans" ;
}
body {
    background:  #17191C;
    font-size: 16px;
    line-height: 1.42;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.wrapper {
    margin: 0 auto;
    width: 1140px;
}



.header {
    height: 52px;
    position: relative;
    margin-bottom: 150px;
}

.logo {
    display: block;
    position: absolute;
    top: 27px;
    left: 0px;
}

.menu {
    position: absolute;
    top: 30px;
    left: 421px;

}

.contacts {
    position: absolute;
    top: 27px;
    right: 0px ;
    font-style: normal;
    text-align: right;
    top: 21px;
    right: 0px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 62px;    
}

.menu__item:last-child {
    margin-right: 0;
}



.menu__link {
text-decoration: none;
color: #fff;
}

.contacts__phone {
font-size: 26px;
line-height: 1,3x;
text-decoration: none;
color: #fff;
}

.contacts__info {
    font-size: 13px;
    top: 21px;
    right: 260px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #fff;
    margin-left: 92px;
    height: 4px;
}

.hello__container {
    width: 640px;
    margin-bottom: 189px;
}

.hello__title {
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 18px;

}

.hello__text {
    font-size: 21px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 74px;
    margin-left: 4px
}

.button {
    font-size: 14px;
    background: #8F00FF;
    color: #fff;
    border-radius: 4px;
    padding: 18px 41px ;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;

}

.new {
    margin-bottom: 127px;
    
}

.title {
    font-weight: bold;
    font-size: 36px;
    color: #fff; 
    margin-bottom: 51px;   
}

.new__list {
   display: flex;
   justify-content: space-between;
    
}

.new__item {
    border-radius: 6px;
    min-height: 449px;
    display: inline-block;
    margin-right: 4px;
    background: #fff;
    width: 362px;
}
.new__title {
    font-weight: bold;
    font-size: 24px;
    color: #000000;  
    padding: 24px;      
}

.duration__content {
    display: inline-flex;
}

.clock {
    margin-left: 28px;
}

.duration__text {
    margin-left: 10px;
    color: #666;
}

.new__text {
    margin-left: 22px;
    font-size: 14px;
}

.button--dark {
    margin-top: 29px;
    margin-left: 20px;
    font-size: 14px;
    background: #8F00FF;
    color: #fff;
    border-radius: 4px;
    padding: 18px 41px ;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.button--dark:hover {
    margin-top: 29px;
    font-size: 14px;
    background: #FFF;
    border-style:solid;
    border-color: #8F00FF;
    border-width: 1px;
    color: #8F00FF;
    border-radius: 4px;
    padding: 18px 41px ;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-left: 21px;
}





.month {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.month__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 30px;
    max-height: 120px;
}

.past_date {
    font-size: 14px;
}

.past__name {
    font-size: 24px;
}

.past__text {
    font-size: 16px;
}

.past {
    margin-bottom: 38px;
}

.container__pages {
    text-align: center;
    padding-left: 90px;
    margin-bottom: 136px;

}

.pages__text, .pagination__list {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 26px;
}

.pagination__link {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    margin-right: 12px;
}

.pages__text {
    margin-right: 36px;
    color: #FFF;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;

}

.pagination__link--active:hover {
  background-color: #8F00FF;  
}

.pagination__link {
    line-height: 32px;
    display: inline-block; 
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
}


.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 489px;
    height: 505px;
    background: url("img/image--people2.jpg") center center / cover no-repeat; 
}

.image__about {
    background: linear-gradient(70deg, #8F00FF, #148CFF);
    margin-left: -139px;
    margin-top: 100px;
    padding: 81px 68px;
    display: inline-block;
    vertical-align: top;
    width: 648px;
    height: 236px;
    border-radius: 5px;
}

.title__about {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    margin-bottom: 37px;
}

.text__about {
    color: #fff;
    margin-bottom: 41px;
}

.text__about p {
    margin-bottom: 20px;
}

.text__about p:last-child {
    margin-bottom: 0px;
}

.button--gradient {
    background: rgba(51, 170, 51, .1) ;
    border-style:solid;
    
}

