@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body {
    font-family:"Open Sans" ;
}
body {
    background:  #17191C;
    font-size: 16px;
    line-height: 1.42;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

html, body {
    height: 100%;
}


.wrapper {
    margin: 0 auto;
    min-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper__content {
    /*flex: 1;*/
    width: 1140px;
    margin-top: 64px;
    /*margin-left: 372px*/
}

.main__page__wrapper {
    background: url(img/backgound/background_top.png) center top  no-repeat,
     url(img/backgound/background_footer.png) center bottom 148px no-repeat;        
}

.header {
    /*height: 52px;
    position: relative;*/
    margin-bottom: 150px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    display: block;
  
}

/*.menu {    
    top: 30px;
    left: 421px;
} */

.contacts {    
    top: 27px;
   /* right: 0px ;*/
    font-style: normal;
    text-align: right;
    /*top: 21px;*/
    right: 0px;
}

.menu__list {
    display: flex;         
}

.menu__item:last-child {
    margin-right: 0;
}



.menu__link {
    text-decoration: none;
    color: #fff;
    margin-right: 60px;
}

.contacts__phone {
font-size: 26px;
line-height: 1,3x;
text-decoration: none;
color: #fff;
}

.contacts__info {
    font-size: 13px;
    top: 21px;
    right: 260px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #fff;
    margin-left: 92px;
    height: 4px;
}

.hello__container {
    width: 640px;
    margin-bottom: 226px;
}

.hello__title {
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 18px;

}

.hello__text {
    font-size: 21px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 74px;
    margin-left: 4px
}

.button {
    font-size: 14px;
    background: #8F00FF;
    color: #fff;
    border-radius: 4px;
    padding: 18px 41px ;
    text-transform: uppercase;
    text-decoration: none;
    }

.new {
    margin-bottom: 127px;
    
}

.new__container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    font-weight: bold;
    font-size: 36px;
    color: #fff; 
    margin-bottom: 51px;   
}

.new__img {
    margin-left: 2%;
}


.new__list {
   display: flex;
   justify-content: space-between;
    
}

.new__item {
    border-radius: 6px;
    min-height: 449px;;
    margin-right: 4px;
    background: #fff;
    width: 362px;
}
.new__title {
    font-weight: bold;
    font-size: 24px;
    color: #000000;  
    padding: 24px;      
}

.duration__content {
    display: inline-flex;
}

.clock {
    margin-left: 28px;
}

.duration__text {
    margin-left: 10px;
    color: #666;
}

.new__text {
    margin-left: 22px;
    font-size: 14px;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.button--dark {
    margin-top: 29px;
    margin-left: 20px;
    font-size: 14px;
    background: #8F00FF;
    color: #fff;
    border-radius: 4px;
    padding: 18px 41px ;
    text-transform: uppercase;
    text-decoration: none;
    }

.button--dark:hover {
    margin-top: 29px;
    font-size: 14px;
    background: #FFF;
    border-style:solid;
    border-color: #8F00FF;
    border-width: 1px;
    color: #8F00FF;
    border-radius: 4px;
    padding: 18px 41px ;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 21px;
}

.past__games {
    display: flex;
    justify-content: space-between;
}

.month {
    width: 557px;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.month__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 30px;
    max-height: 120px;
}

.past__date {
    font-size: 14px;
}

.past__name {
    font-size: 24px;
}

.past__text {
    font-size: 16px;
}

.past {
    margin-bottom: 38px;
}

.container__pages {
    text-align: center;
    padding-left: 90px;
    margin-bottom: 136px;

}

.pages--theme--light .pagination__link{
   color: #000; 
}

.pages--theme--light .pagination__link:hover {
    color: #FFF;  
  }

.pages--theme--light .pages__text {
    color: #000;
}

.pages__text, .pagination__list {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 26px;
}

.pagination__link {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    margin-right: 12px;
}

.pages__text {
    margin-right: 36px;
    color: #FFF;
}

.pagination__item {
    display: flex;
    vertical-align: middle;
}

.pagination__link--active:hover {
  background-color: #8F00FF;  
}

.pagination__link {
    line-height: 32px; 
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
}

.about {
    display: flex;
}

.about:before {
    content: "";
    display: inline-flex;
    vertical-align: top;
    width: 489px;
    height: 505px;
    background: url("img/image--people2.jpg") center center / cover no-repeat; 
}

.image__about {
    background: linear-gradient(70deg, #8F00FF, #148CFF);
    margin-left: -139px;
    margin-top: 100px;
    padding: 107px 68px;
    vertical-align: top;
    width: 648px;
    height: 236px;
    border-radius: 5px;
}

.title__about {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    margin-bottom: 37px;
}

.text__about {
    color: #fff;
    margin-bottom: 41px;
}

.text__about p {
    margin-bottom: 20px;
}

.text__about p:last-child {
    margin-bottom: 0px;
}

.button--gradient {
    background: rgba(51, 170, 51, .1) ;
    border-style:solid;
    border-width: 1px;
}

.footer {
    margin-top: auto;
}

.footer__section {
    height: 152px;
}

.line {
    border-top: 1px solid #FFF;
    opacity: 0.1
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

.footer {
    width: 1140px;
    position: relative;
    margin-top: 82px;
    /*margin-left: 366px;*/
}

.footer__games {
    margin-top: 15px
}

.menu--footer {
    left: 298px;
}

.contacts__info--footer {
    text-decoration: none;
}

.social {
    display: flex;
    position: absolute;
    top: 20px;
    right: 267px;
}


.social__item {
    vertical-align: middle;
    margin-right: 10px;

}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;

}

.social__item--icon--telegram .social__link {
    background-image: url("img/social/telegram.png");
}

.social__item--icon--telegram .social__link:hover {
    background-image: url("img/social/hover/t.png");
}

.social__item--icon--vk .social__link {
    background-image: url("img/social/vk.png")
}

.social__item--icon--vk .social__link:hover {
    background-image: url("img/social/hover/vk.png");
}
.social__item--icon--facebook .social__link {
    background-image: url("img/social/f.png");
}

.social__item--icon--facebook .social__link:hover {
    background-image: url("img/social/hover/fb.png");
}
.social__item--icon--instagram .social__link {
    background-image: url("img/social/in.png");
}

.social__item--icon--instagram .social__link:hover {
    background-image: url("img/social/hover/in.png");
}


/*games page*/

.wrapper {
    display: flex;
    justify-content: flex-start;    
    align-items: center;
    }

.top-line {
    display: flex;
    flex-direction: column;
    min-height: 363px;
    width: 100%;
    background: url(img/backgound/background_top.png) 
     right 57% top 55% no-repeat;
    align-items: center;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 1140px;
}

.header {
    margin-bottom: 106px;
}

.page__title {
    color: #fff;
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 103px
    }

.breadcrumbs__list {
    display: flex;
    align-items: center;
}   

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
    text-decoration: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.page-content__background {
    display: flex;
    /*flex: 1;*/
    width: 100%;
    background-color: #F2F2F2;
    justify-content: center
}

.page-content {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    justify-content: space-between;
    width: 1140px;
    padding: 40px 15px;
}
    
.service {
  display: flex;
  padding: 46px 43px;
  text-decoration: none;
}

.service__img {
    width: 44%;
    margin-right: 7%;
}

.services__content {
    flex: 1;

}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 29px;
}

.service__desc {
    margin-bottom: 64px;
}

.button--dark-service {
    margin-top: 29px;
    margin-left: 20px;
    font-size: 14px;
    background: #8F00FF;
    color: #fff;
    border-radius: 4px;
    padding: 18px 41px ;
    text-transform: uppercase;
    text-decoration: none;
}

.button--dark-service:hover {
    margin-top: 29px;
    font-size: 14px;
    background: #FFF;
    border-style:solid;
    border-color: #8F00FF;
    border-width: 1px;
    color: #8F00FF;
    border-radius: 4px;
    padding: 18px 41px ;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 21px;
}

.inner-section {
    background: #F4F5F5;
    padding: 95px 0; 
}

.inner-section--bg--grey {
   background: #F4F5F5;
   }

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 97px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
} 

.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

